*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#D8c7ff,#19006c);
  padding: 20px;
  flex-direction: column;
  gap: 30px;
}

.me{
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 18px;
  color: #19006c;
}